/*WP wrapper overrides*/

div#masthead, div.header-bg, div.navigation clearfix, aside.widget-area, header.entry-header, div.entry-content p, div.col-md-12, div#bottom-wrapper, footer#site-footer {
	display: none;
  
}

div.col-md-9 {
	width: 100%;
}

div#content, div.container {
padding: 0px;
margin: 0px;
}



/* Mobile first - default styles */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Merriweather', serif;
	font-weight: bold;
  	font-size: 35px;
  	color: #333333;
  	background: #E4E4E4;
}

div#wrapper {
	word-wrap: normal;
	height: 110%;
	overflow: hidden;
}

div#header {
	margin: 0px;
	padding: 0px;
}

img#banner {
	width: 100%;
	height: 50%;
}

div#box {
	margin: 29px;
	text-align: center;
	height: 52%;
	padding: 110px 0px 110px 0px;
}

img#logo {
	width: 725px;
}

div#line {
	width: 55%;
	border-bottom: 2px solid #000000;
	position: relative;
		top: 20px;
		left: 23%;
	margin: 20px 0px 0px 0px;
}

section#info-top {
  padding: 33px 75px 70px 75px;
  word-spacing: 7px;
  line-height: 2.25;
}

section#info-top p {
	display: block;
}

div#footer {
	background: #333333;
  padding: 15px 43px 0px 75px;
  line-height: .9;
  color: #E4E4E4;
  font-size: 22px;
  font-weight: normal;
}

#footer p {
  display: block;
	margin: 17px 160px 30px 0px;
  padding: 0px;
  line-height: 1.3;
}

img#linkedin {
    width: 56px;
  position: relative;
  top: -126px;
  left: 766px;
}

a {
	cursor: pointer;
}

/*Medium devices (desktops, 992px and up)*/
@media (min-width: 992px) {	

	body {
		font-size: 15px;
    }

	img#banner {/*
		position: absolute;*/
		height: 100%;
		overflow: hidden;

	}

	div#wrapper {

		height: auto;
	}

	div#box {
		position: absolute;
	  top: -97px;
	  left: -100px;
	  width: 80%;
	}

	img#logo {
		  width: 265px;
		  position: relative;
		  top: 0px;
		  left: -165px;
		  padding-right: 14px;
		  border-right: 1px solid;
	}

	div#line {
		display: none;
	}

	section#info-top {
		  position: relative;
		  top: -142px;
		  left: 222px;
	}

	div#footer {
	  position: absolute;
	  top: 90%;
	  left: 0px;
	  width: 100%;
	  height: 10%;
	  font-size: 11px;
	  padding: 9px 43px 8px 75px;
	}

	#footer p {
	  margin: 9px 160px 9px 0px;
	}

	img#linkedin {
	  top: -47px;
	  left: 1300px;
	  width: 35px;
	}
}
	
/*Large devices (large desktops, 1200px and up)*/ 
/*@media (min-width: 1200px) {
}*/
